#progress {
  padding: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  h4 a{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-decoration: none;
    color: #1985a1;
  }

}